.page__container-content--post {
  @include flex(1 1 20%);
  margin: 3rem;
  background: $card-color;
  padding: 10px;
  justify-content: flex-end;

  .page__container-content--post__footer {
    align-items: flex-end;
    justify-content: flex-end;

    button {

    }
  }
}